{% extends "template.njk" %}

{% block title %}About{% endblock %}

{% block body %}

    <h2>Megan Ananian</h2>
    <img src="https://i.imgur.com/P2cOlPM.jpg" alt="Megan Ananian">
    <h2>Chris Cutrona</h2>
    <img src="https://i.imgur.com/2L7puDy.jpg" alt="Chris Cutrona">
    <h2>Prannoy Nambiar</h2>
    <img src="https://i.imgur.com/saKmiXs.jpg" alt="Prannoy Nambiar">
    <h2>Sami Boghos</h2>
    <img src="https://i.imgur.com/IQN2aeF.jpg" alt="Sami Boghos">

{% endblock %}