{% extends "template.njk" %}

{% block title %}Analytics{% endblock %}

{% block body %}

    {% for record in r %}
        <tr>
        <td>{{ record.referer }}</td>
        <td>{{ record.count_home }}</td>
        <td>{{ record.count_event }}</td>
        <td>{{ record.count_newevent }}</td>
        <td>{{ record.count_about }}</td>
        <td>{{ record.count_donate }}</td>
        <td>{{ record.count_createevent }}</td>
        <td>{{ record.count_addattendee }}</td>
        
    {% endfor %}

{% endblock %}