{% extends "template.njk" %}

{% block title %}Create a New Event{% endblock %}


{% block body %}
    
    <ul class="form-errors">
        {{error}}
    </ul>
    
    <h1 id="title"> {{eventDetails.title}} </h1>
    <span id="location"> {{eventDetails.location}} </span>
    <span id="date"> {{eventDetails.date}} </span>
    <img id="image" src="{{eventDetails.image_url}}">
    <br>
    <a id="donate" href="/donate">{{donateText.text}}</a>
    
    <ul id="attendees">
    {% for attendee in attendees %}
        <li class="list-group-item">{{attendee.email}}</li>
    {% endfor %}
    </ul>
    
    <form action="/events/{{eventDetails.id}}" method="post">
    <input name="email" type="email" id="email"/>
    <br />
    <button type="submit" name="submit" class="btn">Submit</button>

</form>
    
{% endblock %}