{% extends "template.njk" %}
    
{% block title %}Create a New Event{% endblock %}


{% block body %}
    <img id="logo" src="https://freedesignfile.com/upload/2013/04/08142828120.jpg">
        {% for event in events %}
        <ul>
            <li class="event" id="event-{{event.id}}"><a id="title" href='/events/{{event.id}}'>{{event.title}}</a> - {{event.date}} - {{event.time}} </li>
        {% endfor %}
        </ul>
    <a id="new" href='/events/new'>Create New Event</a> 
    
    
{% endblock %}


