{% extends "template.njk" %}
    
{% block title %}MGT660 Event Clone{% endblock %}


{% block body %}
    <img id="logo" src="http://clipart-library.com/image_gallery/129623.gif">
    <li>
        {% for event in events %}
            <li class="event" id="event-{{event.id}}"><a id="title" href='/events/{{event.id}}'>{{event.title}}</a> - {{event.date}}</li>
        {% endfor %}
    </li>
    <a id="new" href='/events/new'>Create New Event</a> 
    
    
{% endblock %}


