{% extends "template.njk" %}
    
{% block title %}MGT660 "event" Clone{% endblock %}


{% block body %}
    <img id="logo" src="https://freedesignfile.com/upload/2013/04/08142828120.jpg">
        <ul class="list-group list-group-flush">
        {% for event in events %}
            <li class="event" id="event-{{event.id}}"><a id="title" href='/events/{{event.id}}'>{{event.title}}</a> - <time>{{event.date}}</time>  </li>
        {% endfor %}
        </ul>
    <a id="new" href='/events/new'>Create New Event</a> 
    
    
{% endblock %}


