/* background color for the content part of the pages */
Body
{
    background-color: white;
    background: url(https://previews.123rf.com/images/kritchanut/kritchanut1508/kritchanut150800243/43626246-wood-table-top-on-blur-kitchen-background-can-be-used-for-display-or-montage-your-products.jpg) repeat 0 0;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    border-style: dashed;
    font-size: 12px;
    color: #E7E7FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, Georgia, Times, serif;
    font-weight: bold;
}
p, div {
    font-family: Garamond, Helvetica, Arial, sans-serif;
}

ul, li {
  list-style-type: square;
}

img
{
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #31b0d5;
    border: 1px solid transparent;
    border-radius: 4px;
}